.list-item {
  display: flex;
  flex-direction: column;
  background-color: #d0d0d0;
  margin: 5px 15px;
  // width: 90%;
}

.info {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  min-width: 40%;
}

.title {
  height: 200px;
  width: 100px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-weight: bolder;

  & a {
    text-decoration: none;
    color: inherit;
  }
}
